body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;  
}

ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

.hero-and-header {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.hero-image {
    width: 300px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
}

#info-text {
    text-align: center;
}

.info-section {
    display: flex;
    flex-direction: column; 
    width: 80%;
    margin: 0 auto;
    padding: 40px;
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-card{
    margin: 0 10px 10px 0;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
}

.card-image {
    width: 100px;
    height: 100px;
    border: 2px bold blue;
    border-radius: 10px;
}

.card-text {
    text-align: center;
}

.testimonial-section {
    padding: 40px;
    background-color: #e5e7eb;
}

#testimony {
    width: 80%;
    margin: auto;
}

#testifier {
    width: 80%;
    margin: auto;
    text-align: end;
}

.section-four {
    padding: 40px;
}

.cta-section {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 12px;
    background-color: #3882f6;
}

.cta-button {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #1f2937;
}