body {
    font-family: 'Roboto', sans-serif;
    width: 80%;
    margin: 0 auto;
}

ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-image {
    width: 300px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}