body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;  
}

ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-and-header {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
    flex-shrink: 0;
    margin-right: 10px;
}

.hero-text {
    width: 40%;
}

.hero-image {
    width: 50%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
    background-color: #e5e7eb71;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
}

#hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

#hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

#signup-button {
    font-size: 15px;
    color: #fff;
    background-color: #3882f6;
    font-weight: 400;
    margin-top: 10px;
    padding: 8px;
    border-radius: 8px;
    width: 100px;
    border-style: none;
}

#info-text {
    text-align: center;
}

.info-section {
    display: flex;
    flex-direction: column; 
    width: 80%;
    margin: 0 auto;
    padding: 40px;
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-card{
    margin: 0 10px 10px 0;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
}

.card-image {
    width: 100px;
    height: 100px;
    border: 2px bold blue;
    border-radius: 10px;
}

.card-text {
    text-align: center;
}

.testimonial-section {
    padding: 40px;
    background-color: #e5e7eb;
}

#testimony {
    width: 80%;
    margin: auto;
}

#testifier {
    width: 80%;
    margin: auto;
    text-align: end;
}

.section-four {
    padding: 40px;
}

.cta-section {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 12px;
    background-color: #3882f6;
}

.cta-button {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #1f2937;
}