body {
    font-family: 'Roboto', sans-serif;
    width: 80%;
    margin: 0 auto;
}

ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

